DATABASE_URL="your database url here"
AUTH_SECRET="your auth secret key here"
AUTH_URL="http://localhost:3000"
AUTH_GOOGLE_ID="your google client id here"
AUTH_GOOGLE_SECRET="your google client secret here"
UPLOAD_PROVIDER="local"
NEXT_PUBLIC_APP_URL="http://localhost:3000"